.header{


display:flex;
justify-content: space-between;
align-items: center;
height: 18vh;

img{

    padding-left: 4%;
}

nav{

    
    width: 30%;

    ul{

display: flex;
justify-content: space-evenly;

a{

    font-size: 32px;
    font-weight: bold;
    color: #3E3970;
}

    }

}

}